.logo-airbnb {
 	overflow: hidden;
	width: 120px;
	height: 120px;
 }

 .logo-airbnb img {
 	width: 100%;
 	overflow: hidden;
 }

body{
	margin: 0;
	font-family: Impact, "Arial black", Arial, Verdana, sans-serif;
}

.bg {
	color:black;
	background-color:white;
	background-image: url(images/background4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: white;*/
	/*background: rgba(255, 255, 255, 0.5);*/
	margin-top: -30px;
}

li {
	float: right;
}

ul li a {
	display: block;
	color: black;
	width: 100%;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	margin-right: 20px;
}

form {
	/*background-color: white;*/
	background-size: cover;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.9);
	width: 30%;
	height: 70vh;
	margin-left: 55px;
	margin-top: 0;
}

form div {
	display: block;
	margin: 10px;
	margin-left: 15px;
}

h1 {
	font-size: 15px;
	color: black;
	text-align: left;
}

.date {
	display: inline-block;
}

h2 {
	font-size: 30px;
	color: black;
	text-align: left;
	opacity: 1.5;
}

.button {
	text-align: right;
}

.rechercher {
	background-color: #FF00FF;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	margin-top: 15px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}

h3 {
	font-size: 25px;
	color: black;
}

.explorer {
	margin-left: 15%;
}

.photo {
	width: 15%;
	height: 15%;
}

.container div {
	display: inline-block;
	display: flex;
}